.container {
    border: 5px dashed black;
    width: 90%;
    /* Temporary height */
    background-color: #0294A5;
    color: white;

    display: flex;
    align-items: center;
    /* justify-content: space-between; */
    margin: 0.5em auto;
}

.wrapper {
    width: 100%;
}

.controls {
    flex: 1;
    box-sizing: border-box;
    padding: 1em;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
}

.contentDisplay {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 2;
}

.todoValue {
    cursor: pointer;
}

.cross {
    cursor: pointer;
    text-decoration: line-through;
    color: gray;
}

.checked {
    text-decoration: line-through;
    color: black;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.control {
    font-size: 1.5em;
    padding: 0 1em;
    cursor: pointer;
}

